[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
jupyter = "*"
seaborn = "*"
papermill = "*"
nbconvert = "*"
rise = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.7"
